<template>
        <form>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" v-model="formData.nome" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Nome completo">
                        <small v-if="showHelpers" id="nomeHelp" class="form-text text-muted">Informe o nome do cliente</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" v-model="formData.cpf" class="form-control" id="cpf" aria-describedby="cpfHelp" placeholder="CPF">
                        <small v-if="showHelpers" id="cpfHelp" class="form-text text-muted">Informe o CPF do cliente</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" v-model="formData.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
                        <small v-if="showHelpers" id="emailHelp" class="form-text text-muted">E-mail do cliente</small>
                    </div>
                </div>
            <div class="col">
                <div class="form-group">
                    <label for="celular">Celular</label>
                    <input type="text" v-model="formData.celular" class="form-control" id="celular" aria-describedby="celularHelp" placeholder="Celular">
                    <small v-if="showHelpers" id="celularHelp" class="form-text text-muted">Informe o Celular do cliente</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" v-model="formData.cep" v-on:blur="viaCepApi" class="form-control" id="cep" aria-describedby="cepHelp" placeholder="CEP">
                    <small v-if="showHelpers" id="cepHelp" class="form-text text-muted">Informe o CEP do endereço</small>
                </div>
            </div>                
            <div class="col">
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" v-model="formData.endereco" class="form-control" id="endereco" aria-describedby="enderecoHelp" placeholder="Logradouro">
                    <small v-if="showHelpers" id="enderecoHelp" class="form-text text-muted">Informe o Logradouro e o número do endereço</small>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" v-model="formData.numero" class="form-control" id="numero" aria-describedby="cepHelp" placeholder="Ex: 255">
                    <small v-if="showHelpers" id="cepHelp" class="form-text text-muted">Informe o Número no logradouro</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" v-model="formData.complemento" class="form-control" id="complemento" aria-describedby="complementoHelp" placeholder="Complemento">
                    <small v-if="showHelpers" id="complementoHelp" class="form-text text-muted">Informe dados complementares do endereço</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" v-model="formData.bairro" class="form-control" id="bairro" aria-describedby="bairroHelp" placeholder="Bairro">
                    <small v-if="showHelpers" id="bairroHelp" class="form-text text-muted">Informe o Bairro do endereço</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" v-model="formData.cidade" class="form-control" id="cidade" aria-describedby="cidadeHelp" placeholder="Cidade">
                    <small v-if="showHelpers" id="cidadeHelp" class="form-text text-muted">Informe a Cidade do endereço</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="uf">Estado</label>
                    <input type="text" v-model="formData.uf" class="form-control" id="uf" aria-describedby="ufHelp" placeholder="Estado">
                    <small v-if="showHelpers" id="ufHelp" class="form-text text-muted">Informe o Estado do Endereço</small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{ btSaveLabel }}</button>
        
    </form>      
</template>

<script>
import Vue from 'vue'
export default {
  name: 'CadastroSimples',
  props: {
    btSaveLabel: {
        type: String,
        required: false,
        default: "Salvar"
    },
    showHelpers: {
        type: Boolean,
        required: false,
        default: false
    }      
  },
  data: function() {
      return {
        formData: {
            nome: "",
            cpf: "",
            email: "",
            celular: "",
            endereco: "",
            numero: "",
            cep: "",
            complemento: "",
            bairro: "",
            cidade: "",
            uf: ""
        },
        count: 0          
      }
  },
    methods: {
        viaCepApi() {
            // var self = this;
            Vue.axios.get('https://viacep.com.br/ws/' + this.formData.cep + '/json/unicode/')
                .then((response) => {
                    // handle success
                    //console.log(response);
                    this.formData.bairro = response.data.bairro;
                    this.formData.cidade = response.data.localidade;
                    this.formData.endereco = response.data.logradouro;
                    this.formData.uf = response.data.uf;
                });

        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
