<template>
  <div class="container-fluid" id="app">
    <CadastroSimples :show-helpers="true"/>
  </div>
</template>

<script>
import CadastroSimples from './components/CadastroSimples.vue'


export default {
  name: 'app',
  components: {
    //HelloWorld,
    CadastroSimples
  }
}
</script>

<style>
#app {

}
</style>
